@import "tailwindcss";

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) translateX(0);
        opacity: 0.2;
    }

    50% {
        transform: translateY(-20px) translateX(10px);
        opacity: 0.5;
    }
}

.animate-spin-slow {
    animation: spin-slow 60s linear infinite;
}

.animate-float {
    animation: float 10s ease-in-out infinite;
}

.bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
}